:root {
  --basic-black: #000000;
  --middle-dark-blue:#32425C;
  --dark-grey: #A9A9A9;
  --basic-white: #ffffff;
  --basic-red: #EE3643;
  --light-brown:#FFD180;
  --very-light-blue: #F3F7F9;
  --basic-green: #63A63E;
  --black-opacity: rgba(0, 0, 0, 0.3);
  --down-footer:#293449;
  --socials-circle: #212A3A;


}
.page{
  height: 100%;
}

.main-header {
 /* display: grid;
  grid-template-columns: 1fr 1fr;*/
  order: 0;

  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-black);
  background: url("../img/demo-background.png");
  background-position: top center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.user-navigation{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;

}

.user-nav-items{
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 2px;
}


.for-user-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
}

.main-navigation {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 57px;
  width: max-content;
}

.main-header-logo {

  height: 42px;
  width: 220px;
  left: 58px;
  top: 1px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}




a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header-text {
  display: grid;
  justify-self: right;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--basic-red);
}

.nav-item {
  color: var(--basic-white);
  background-color: var( --middle-dark-blue);
  line-height: 24px;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  display: flex;
}


/* думаю так должна выглядеть стилизация текста если б он был*/

.contacts-phone {
  color: var( --basic-red);
  font-weight: 700;
  font-size: 21px;
}

.contacts-header {
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: var( --middle-dark-blue);
}

.user-login {
  display: grid;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  color: var(--basic-black);
}

.personal-data {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--middle-dark-blue);
}

.login-link {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.reg-link {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}


.perforators{
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--middle-dark-blue);
}
.nav-link-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  list-style: none;

}

.nav-link a{
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  list-style: none;
  color: var(--basic-black);
}

.nav-link-red a{
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  list-style: none;
  color: #EE3643;
}

.nav-link-opacity a {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  list-style: none;
  color: var(--black-opacity);

}

.bin a{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--basic-white);
  background-color:var(--basic-green) ;
}

.favorites a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--middle-dark-blue);
  background-color:var(--basic-white);
}

.content-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

.content-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  list-style: none;
}

.content-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.popular-goods {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: var( --middle-dark-blue);
  font-weight: 400; /* я удаляю его и текст меняется */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popular-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popular-list-catalog {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;


}

.red-button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  background-color: var( --basic-red);
}

.popular-item a {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--basic-black);
  text-decoration: none;

}

.high-price {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--dark-grey);
  text-decoration: line-through;
  list-style: none;
}

.real-price {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var( --basic-red);
  list-style: none;
}

.popular-marks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.popular-manufacturers {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var( --middle-dark-blue);
  font-family: Cuprum;
}

.popular-manufacturer {
  list-style: none;
  border: 15px color: var(--basic-white);
}

.services {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr;
}
.nav-numbers {
list-style: none;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;

}
.perforator-info {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--basic-black);
}

.text-small {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--basic-black);
}

.features-list {
  list-style: none;
}
.feature-content-list {
  list-style: none;
}

.feature-content {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--middle-dark-blue);
}

.about-company {
  display: flex;
  flex-direction: column;
  max-width: 50%;

}

.company-name-contacts {
  background-color: var(--basic-white);
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.text-small-about {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--basic-black);
  margin: 0 0 1px;
  margin-left: 131px;
}

.text-big-about {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-black);
  margin: 0 0 24px;
  text-transform: uppercase;
  margin-top: 70px;
  margin-left: 131px;

}

.text-big-contacts {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-black);
  margin-bottom: 27px;
  margin-top: 70px;
  margin-left

}



.about-expedition {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;


}

.expedition-item a{
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-black);
  display: flex;
  align-items: center;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-right: 12px;
  margin-bottom: 12px;
  margin-left: 131px;

}
.red-button-about {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  background-color: var( --basic-red);
  width: 220px;
  margin-left: 131px;
}

.main-footer {
  background-color: var( --middle-dark-blue);
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;

}

.logo-footer {
  display: flex;
  margin-left: 132px;
  margin-bottom: 27px;
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.top-footer {
 /*
  max-width: 550px;
  padding-top: 37px;*/
  подставлял- не подходит и все ломает

}
.footer-items-white {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;

  margin-bottom: 34px;

}

.footer-items-brown {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;



}

.nav-item-footer a {
  display: flex;
  color: var(--basic-white);
  margin-left: 58px;
  line-height: 24px;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
}

.middle-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--middle-dark-blue);
}

.nav-item-light-brown a{
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--light-brown);
  background-color: var(--middle-dark-blue);
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 58px;
}

nav-item-light-brown{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 525px;
  padding: 0;
  margin-right: 58px;
}

.contacts-footer {
  display: flex;
  justify-content: space-between;
  justify-self: left;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: var(--very-light-blue);
  background-color: var(--middle-dark-blue);
  max-width: 350px;
  margin-bottom: 60px;
  margin-left: 132px;

}

.down-footer {
  background-color:#293449;
  display: flex;
  height: 107px;
  align-items: center;

}

.all-rights {
  display: flex;
  justify-self: right;
  margin-left: 132px;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-white);
  max-width: 300px;
  margin-top: 36;
  margin-bottom: 34;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.footer-socials {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  margin-top: 36;
  margin-bottom: 34;
}

.footer-socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 1px solid ;
  color: var(--socials-circle);
  background-color: var(--socials-circle);
  border-radius: 50%;
  margin-right: 4px;
  width: 44px;
  height: 44px;
  }

.feedback-develop {
  display: flex;
  list-style: none;
  max-width: 350px;
  flex-wrap: wrap-reverse;
  margin: 0;
  padding: 0;
}

.nav-item-down-footer {
  display: flex;
  color: var(--basic-white);
  background-color: var(--down-footer);
  line-height: 24px;
  font-size: 18px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item-internet {
  display: flex;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--light-brown);
  background-color: #293449;
  text-decoration: underline;
  justify-content: space-between;
  margin-right: 141px;
  padding: 0;
  margin: 0;
  list-style: none;
}
