:root {
  --basic-black: #000000;
  --middle-dark-blue:#32425C;
  --dark-grey: #A9A9A9;
  --basic-white: #ffffff;
  --basic-red: #EE3643;
  --light-brown:#FFD180;
  --very-light-blue: #F3F7F9;
  --basic-green: #63A63E;
  --black-opacity: rgba(0, 0, 0, 0.3);
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-black);
  background: url("../img/demo-background.png");
  background-position: top center;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  list-style: none;
}

.header-text {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-red);
}

.nav-item a {
  color: var(--basic-white);
  background-color: var( --middle-dark-blue);
  line-height: 24px;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
}

.main-header-logo {
  height: 17px;
  width: 15px;
  left: 58px;
  top: 1px;
}
/* думаю так должна выглядеть стилизация текста если б он был*/

.contacts-phone {
  color: var( --basic-red);
  font-weight: 700;
  font-size: 21px;
}

.contacts-header {
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: var( --middle-dark-blue);
}

.user-login {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  color: var(--basic-black);
}

.personal-data {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--middle-dark-blue);
}

.login-link {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.reg-link {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.perforators{
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--middle-dark-blue);
}

.nav-link a{
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  list-style: none;
  color: var(--basic-black);
}

.nav-link-red a{
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  list-style: none;
  color: #EE3643;
}

.nav-link-opacity a {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  list-style: none;
  color: var(--black-opacity);

}

.bin a{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--basic-white);
  background-color:var(--basic-green) ;
}

.favorites a{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--middle-dark-blue);
  background-color:var(--basic-white);
}

.content-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  list-style: none;
}

.content-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.popular-goods {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: var( --middle-dark-blue);
  font-weight: 400; /* я удаляю его и текст меняется */
}

.popular-list {
  list-style: none;
}

.red-button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  background-color: var( --basic-red);
}

.popular-item a {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--basic-black);
  text-decoration: none;
}

.high-price {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--dark-grey);
  text-decoration: line-through;
  list-style: none;
}

.real-price {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var( --basic-red);
  list-style: none;
}

.popular-manufacturers {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var( --middle-dark-blue);
  font-family: Cuprum;
}

.popular-manufacturer {
  list-style: none;
  border: 15px color: var(--basic-white);
}

.services {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--basic-black);
}

.perforator-info {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--basic-black);
}

.text-small {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--basic-black);
}

.features-list {
  list-style: none;
}
.feature-content-list {
  list-style: none;
}

.feature-content {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: var( --middle-dark-blue);
}

.company-name-contacts {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.expedition {
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-black);
  list-style: none;
}

.nav-item-light-brown a{
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--light-brown);
  background-color: var(--middle-dark-blue);
  float: left;
  border: 5px solid color: var(--basic-white);
  list-style: none;
}

.contacts-footer {
  font-family: Cuprum;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--very-light-blue);
  background-color: var(--middle-dark-blue);
}

.all-rights {
  font-family: Cuprum;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--basic-white);
}

.socials {
  list-style: none;
}

.inet a {
  font-family: Cuprum;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--light-brown);
}
